require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
    <%- @json["cases"].as_a.each do |cases| %>
        <%= status()%> "<%-= cases["description"] %>" do
            rows = <%= cases["input"]["rows"].inspect.gsub(/[\[,]/, &.+("\n")) %>
            <%= to_capitalized(@json["exercise"].to_s) %>.convert(rows).should eq(<%= cases["expected"].inspect %>)
        end
    <% end %>
end
